// Variables

//Colors
$darkBrown: #9a8d73;
$offwhite: #fbfaf8;
$color-complementary: #9dabc8;
$lead-banner-color: #cdba9c;
$color-2: #c1c89d;
$color-3: #abc89d;
$color-4: #9dc8a5;
$navHover-color: lighten(#abc89d, 0.4);
$color-5: #9dc8ba;
$logoZenColor: #e5750d;
$logoQinColor: #3b2e2e;

//Font Size
$bannerHeading: 4rem;
$sectionHeadding: 1.5rem;

//logo heigh
$logoHeigh: 5.87rem;

//headingLineHeight
$headingLineHeight: 2.5rem;
